.delete-icon {
    cursor: pointer;
    transition: all 0.3s linear;
}

.delete-icon:hover {
    transform: scale(1.2);
}

.textField {
    font-family: 'Poppins' !important;
    display: flex;
    justify-content: center;
}

.throughPrice {
    margin-right: 10px;
    text-decoration: line-through;
}