.tableContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border: 1px solid #F3F3F3;
    padding: 30px;
    background-color: #FAFAFA;
    border-radius: 15px;
}

.productListTitle {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: #FAFAFA;
    border-radius: 15px;
    padding: 20px 0;
    font-size: 20px;
}

.rowTitle {
    font-family: 'Poppins' !important;
    font-weight: 600;
    font-size: 16px;
}